<div class="change-password">
    <section class="change-password__banner">
        <img class="change-password__img" src="./assets/img/change_password_bg.svg" alt="Imagem de fundo da tela de alterar senha">
    </section>
    <section class="change-password__form-box">
        <img class="change-password__logo" src="./assets/img/logo.svg" alt="Logo LibroVault">
        <app-change-password-form (formSubmit)="submit($event)"></app-change-password-form>
        <div class="change-password__options">
            <span class="change-password__options-text" routerLink="/login" >Voltar para o login.</span>
        </div>
    </section>
</div>
