.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  &__logo {
    max-height: 45%;

    @media screen and (max-width: 599px) {
      max-height: 50%;
    }
  }

  &__spacer {
    flex: 1 1 auto;
}
}

::ng-deep {
  .navbar__menu { background-color: var(--primary-color); }
}