<div class="login">
    <section class="login__banner">
        <img class="login__img" src="./assets/img/login_bg.svg" alt="Imagem de fundo da tela de Login">
    </section>
    <section class="login__form-box">
        <img class="login__logo" src="./assets/img/logo.svg" alt="Logo LibroVault">
        <app-login-form   [isLoading]="isLoading" (formSubmit)="submit($event)"></app-login-form>
        <div class="login__options">
            <span class="login__options-text" routerLink="/reset-password-email" >Esqueceu a senha?</span>
            <span class="login__options-text" routerLink="/register" >Criar uma nova conta.</span>
        </div>
    </section>
</div>
