<div class="chip">
    <mat-form-field class="chip__form-field" appearance="fill">
        <mat-label>{{ label }}</mat-label>
        <mat-chip-list #chipList [attr.aria-label]="'seleção de ' + label">
            <mat-chip *ngFor="let selectedOption of selectedOptions" (removed)="remove(selectedOption)">
                {{ selectedOption }}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input 
                #chipInput
                (blur)="onBlur()"
                placeholder="{{ placeholder }}"
                [formControl]="chipControl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let option of options" [value]="option.value">
                {{ option.viewValue }}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="chipList.errorState">{{ requiredMessage }}</mat-error>
    </mat-form-field>
</div>