<div class="books-list c-container">
    <app-custom-title title="Livros">
        <app-custom-button (clickButton)="addBookRoute()" color="accent">Adicionar</app-custom-button>
    </app-custom-title>

    <app-custom-filter (filterValue)="filter($event)"></app-custom-filter>

    <app-custom-list [data]="books" (cardActionMenu)="cardAction($event)"></app-custom-list>

    <mat-paginator 
        (page)="pageChanged($event)"
        [pageSize]="pageSettings.pageSize" 
        [length]="books.length"
        [pageSizeOptions]="pageSizeOptions"
        class="books-list__paginator"
        showFirstLastButtons="true">
    </mat-paginator>
</div>