<h2 mat-dialog-title *appSkeleton="isLoading; height: '20px'; width: '30%'; className: 'mb-10'">Minha conta</h2>
<mat-dialog-content class="mat-typography">
    <form class="account-form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" *appSkeleton="isLoading; height: '51px'; width: '100%'">            
            <mat-label>Nome</mat-label>
            <input (keydown)="preventChar($event, patterns.onlyLetters)" type="text" formControlName="nome" matInput>
            <mat-error *ngIf="form.get('nome')!.errors?.['required']">Insira seu nome de usuário.</mat-error>
            <mat-error *ngIf="form.get('nome')!.errors?.['maxLength']">Tamanho máximo excedido.</mat-error>
            <mat-error *ngIf="form.get('nome')!.errors?.['pattern']">Nome inválido.</mat-error>
        </mat-form-field>
        <div class="row-2-columns">
            <mat-form-field appearance="fill" *appSkeleton="isLoading; height: '51px'; width: '210px'">
                <mat-label>Gênero</mat-label>
                <mat-select formControlName="genero">
                    <mat-option value="1">Feminino</mat-option>
                    <mat-option value="2">Masculino</mat-option>
                    <mat-option value="3">Outro</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('genero')!.errors?.['required']">Insira seu gênero.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" *appSkeleton="isLoading; height: '51px'; width: '210px'">
                <mat-label>Data de nascimento</mat-label>
                <input matInput formControlName="dataNascimento" [matDatepicker]="picker" [min]="'1900-01-01'" [max]="maxBorn()" appMaskDate>
                <mat-hint *ngIf="!formIsdisabled">DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker" *ngIf="!formIsdisabled"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <mat-error *ngIf="form.get('dataNascimento')!.errors?.['required']">Insira sua data de
                    nascimento.</mat-error>
                <mat-error *ngIf="form.get('dataNascimento')!.errors?.['matDatepickerMax']">A idade mínima é 1
                    ano.</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill" *appSkeleton="isLoading; height: '51px'; width: '100%'">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput>
            <mat-error *ngIf="form.get('email')!.errors?.['required']">Insira seu email.</mat-error>
            <mat-error *ngIf="form.get('email')!.errors?.['email']">Email inválido.</mat-error>
            <mat-error *ngIf="form.get('email')!.errors?.['maxLength']">Tamanho máximo excedido.</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="account-form__actions">
    <app-custom-button class="account-form__close-btn" mat-dialog-close *ngIf="formIsdisabled">Voltar</app-custom-button>
    <app-custom-button [isLoading]="isLoading" color="accent" (clickButton)="toggleForm()">{{ formIsdisabled ? 'Editar' : 'Cancelar' }}</app-custom-button>
    <app-custom-button [isLoading]="isLoading" class="account-form__submit-btn" (clickButton)="submit()" color="primary" *ngIf="!formIsdisabled">Salvar</app-custom-button>
</mat-dialog-actions>