<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form__work" appearance="fill">
        <mat-label>Obra</mat-label>
        <input matInput type="text" formControlName="obra">
        <mat-error *ngIf="obra!.errors?.['required']">Insira o título da obra.</mat-error>
    </mat-form-field>

    <app-custom-chip 
            #chipAuthor
            [options]="authorOptions"
            [control]="autor"
            [required]="true"
            [placeholder]="'Procurar autor'"
            requiredMessage="Insira pelo menos um autor"
            [label]="'Autor'"
            class="form__author">
    </app-custom-chip>

    <app-custom-button (clickButton)="addAuthor()" class="form__author-button" color="accent">Cadastrar autor</app-custom-button>

    <mat-form-field class="form__publisher" appearance="fill">
        <mat-label>Editora</mat-label>
        <input type="text"
               placeholder="Selecione uma editora"
               formControlName="editora"
               aria-label="Number"
               matInput
               [matAutocomplete]="publisherAuto">
        <mat-autocomplete autoActiveFirstOption #publisherAuto="matAutocomplete" [displayWith]="displayAutoComplete">
          <mat-option *ngFor="let option of publisherOptions" [value]="option">
            {{ option.viewValue }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="editora!.errors?.['required']">Insira uma editora.</mat-error>
    </mat-form-field>

    <app-custom-button [padding]="false" (clickButton)="addPublisher()" class="form__publisher-button" color="accent">Cadastrar editora</app-custom-button>
    
    <app-custom-select
        [reset]="false"
        [multiple]="true"
        [label]="'Idioma'"
        [control]="idioma"
        requiredMessage="Insira pelo menos um idioma"
        [options]="languageOptions"
        class="form__language">
    </app-custom-select>

    <app-img-cropper (newImage)="croppedImage($event)" class="form__img-cropper" ></app-img-cropper>

    <mat-form-field appearance="fill" class="form__notations">
        <mat-label>Anotações</mat-label>
        <textarea matInput style="height: 133px;" formControlName="anotacoes"></textarea>
    </mat-form-field>

    <app-custom-chip 
        [options]="genresOptions"
        [placeholder]="'Procurar gêneros'"
        [label]="'Gêneros'"
        [control]="generos"
        class="form__genre">
    </app-custom-chip>

    <app-custom-button (clickButton)="addGenre()" class="form__genre-button" color="accent">Cadastrar gênero</app-custom-button>

    <mat-checkbox class="form__unique" *ngIf="workType != 'livro'" formControlName="volumeUnico">Volume único?</mat-checkbox>
    
    <ng-container [ngTemplateOutlet]="workType != 'livro' && !volumeUnico.value ? workVolums : workMoreInfo"></ng-container>
    
    <ng-template #workMoreInfo>
        <app-more-info-form formGroupName="maisInfo" class="form__more-info"></app-more-info-form>
    </ng-template>

    <ng-template #workVolums>
        <div class="form__volume">
            <app-custom-title title="Volumes" class="form__volume-title">
                <app-custom-button (clickButton)="addVol()" color="accent">Adicionar</app-custom-button>
            </app-custom-title>
    
            <ng-container formArrayName="volumes">
                <ng-container *ngFor="let volume of volumes.controls; let i = index">  
                    <div class="form__divider" *ngIf="i > 0"></div>
                    <app-volume-form (remove)="removeVol(i)"  [formGroupName]="i" class="form__volume-form"></app-volume-form>
                </ng-container>
            </ng-container>    
        </div>
    </ng-template>

    <app-custom-button class="form__back-btn" (clickButton)="onBackBtn()" color="">voltar</app-custom-button>
    <app-custom-button class="form__add-btn" type="submit" color="primary">Adicionar</app-custom-button>
</form>