$primary-color-palette: (
  50 : #f3f8f7,
  100 : #e0ecea,
  200 : #cce0dc,
  300 : #b8d4ce,
  400 : #a8cac4,
  500 : #99c1b9,
  600 : #91bbb2,
  700 : #86b3aa,
  800 : #7caba2,
  900 : #6b9e93,
  A100 : #ffffff,
  A200 : #e3fff9,
  A400 : #b0ffee,
  A700 : #96ffe8,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent-color-palette: (
  50 : #e9eaef,
  100 : #c8cad7,
  200 : #a4a6bd,
  300 : #7f82a2,
  400 : #63688e,
  500 : #484d7a,
  600 : #414672,
  700 : #383d67,
  800 : #30345d,
  900 : #21254a,
  A100 : #8f98ff,
  A200 : #5c69ff,
  A400 : #293aff,
  A700 : #0f22ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$warn-color-palette: (
  50 : #f0e2e4,
  100 : #dbb6bc,
  200 : #c38590,
  300 : #aa5464,
  400 : #982f42,
  500 : #860a21,
  600 : #7e091d,
  700 : #730718,
  800 : #690514,
  900 : #56030b,
  A100 : #ff888f,
  A200 : #ff555f,
  A400 : #ff222f,
  A700 : #ff0817,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);