.c-container{
    margin: 40px auto;    
    padding: 0 15px;
    max-width: 90%;
     
    @media (min-width: 112.5em) { max-width: 1500px; } 
}

.pulse {
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }