.title {
    margin-bottom: 70px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        row-gap: 13px;
        flex-wrap: wrap;
    }

    &__text {
        margin: 0;
        margin-right: 7px;
    }

    &__divider {
        height: 5px;
        background-color: var(--accent-color);
        width: 100%;
    }
}