<div class="mangas-list c-container">
    <app-custom-title title="Mangas">
        <app-custom-button (clickButton)="addMangaRoute()" color="accent">Adicionar</app-custom-button>
    </app-custom-title>

    <app-custom-filter (filterValue)="filter($event)"></app-custom-filter>

    <app-custom-list>
        <app-custom-card *ngFor="let manga of mangas"
            [id]="manga.id"
            [img]="manga.img"
            [title]="manga.title"
            [volumes]="manga.qtdVolumes"
            [author]="manga.author"
            [pages]="manga.pages"
            [read]="manga.read"
            [buyDate]="manga.buyDate"
            [genres]="manga.genres"
            (userAction)="cardAction($event)"
        ></app-custom-card>
    </app-custom-list>

    <mat-paginator 
        (page)="pageChanged($event)"
        [pageSize]="pageSettings.pageSize" 
        [length]="mangas.length"
        [pageSizeOptions]="pageSizeOptions"
        class="mangas-list__paginator"
        showFirstLastButtons="true">
    </mat-paginator>
</div>