<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
    <span>Insira seu email e senha para acessar a plataforma.</span>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput>
        <mat-error *ngIf="email!.errors?.['required']">Insira seu nome email.</mat-error>
        <mat-error *ngIf="email!.errors?.['email']">Email inválido.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" formControlName="senha" matInput>
        <mat-error *ngIf="senha!.errors?.['required']">Insira sua senha.</mat-error>
    </mat-form-field>
    <app-custom-button [isLoading]="isLoading" type="submit" class="login-form__submit" mat-raised-button color="accent">Entrar</app-custom-button>
</form>