<form class="change-password-email-form" [formGroup]="form" (ngSubmit)="submit()">
    <span>Insira seu email cadastrado para receber o link de alteração de senha.</span>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" formControlName="email" matInput>
        <mat-error *ngIf="email!.errors?.['required']">Insira seu email.</mat-error>
    </mat-form-field>
    <app-custom-button type="submit" class="change-password-email-form__submit" mat-raised-button color="accent">Enviar</app-custom-button>
</form>