.table-wrapper {
  position: relative;
}

.table-container {
  overflow: auto;
}

table, .mat-paginator-sticky {
  width: 100%;
  min-width: 500px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell  {
  padding: 3px;
}

.mat-form-field {
  width: 100%;
}

.actions-buttons {
  display: flex;
  justify-content: space-evenly;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display:inline-block;  
  width: 100%;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}