<div class="authors c-container">
    <app-custom-title title="Autores" *appSkeleton="(routeNotReady$ | async)!; height: '51px'; width: '100%'; className: 'mb-40'" >
        <app-custom-button color="accent" (clickButton)="userAction()"  >Adicionar</app-custom-button>
    </app-custom-title>

    <ng-container *ngIf="(routeNotReady$ | async) || (isloading | async)">
        <div class="authors__filter-skeleton" *appSkeleton="true; height: '50px'; width: '100%'; className: 'mb-40'"></div>
        <div class="authors__table-skeleton" *appSkeleton="true; height: '500px'; width: '100%'"></div>
    </ng-container>

    <app-custom-table
        [ngClass]="{'invisible': (routeNotReady$ | async)}"
        [isLoading]="(isloading | async)!"
        [columnDefinition]="tableHeaders"
        [tableData]="authors$ | async"
        [displayDeleteAction]="true"
        [displayEditAction]="true"
        [enableBackendPagination]="true"
        [enableBackendSearch]="true"
        (actionCalled)="userAction($event)"
        editRowText="Editar autor"
        deleteRowText="Remover autor"
        [pageProperties]="pageSettings"
        (searchCalled)="searchAction($event)"
        (pageEventCalled)="pageAction($event)"
        (sortCalled)="sortAction($event)"
    ></app-custom-table>
</div>