<div class="hqs-details c-container">
    <ng-template #hqDetails let-hq>
        <app-custom-title [title]="'Detalhes'">
            <app-custom-button color="accent" (clickButton)="edit()">Editar</app-custom-button>
        </app-custom-title>
    
        <app-custom-details [work]="hq"></app-custom-details>
    
        <section class="details__volumes" *ngIf="hq.qtdVolumes">
            <app-custom-title [title]="'Volumes'" ></app-custom-title>
    
            <app-custom-list>
                <app-custom-card *ngFor="let volume of hq.volumes"
                    [id]="volume.id"
                    [img]="volume.img"
                    [title]="volume.title"
                    [author]="volume.author"
                    [pages]="volume.pages"
                    [read]="volume.read"
                    [buyDate]="volume.buyDate"
                    [genres]="volume.genres"
                    (userAction)="cardAction($event)"
                ></app-custom-card>
            </app-custom-list>
    
            <mat-paginator 
                *ngIf="hq.qtdVolumes"
                (page)="pageChanged($event)"
                [pageSize]="pageSettings.pageSize" 
                [length]="hq.volumes.length"
                [pageSizeOptions]="pageSizeOptions"
                class="hqs-details__paginator"
                showFirstLastButtons="true">
            </mat-paginator>
        </section>
    </ng-template>

    <ng-template #volumeDetails let-volume="volume">
        <app-custom-title [title]="'Detalhes - Volume'">
            <app-custom-button color="accent" (clickButton)="edit()">Editar</app-custom-button>
        </app-custom-title>
    
        <app-custom-details [work]="volume"></app-custom-details>
    </ng-template>

    <ng-container *ngTemplateOutlet="!workTypeVolume ? hqDetails : volumeDetails; context: work" ></ng-container>

    <app-custom-button class="hqs-details__back-btn" (clickButton)="onBackBtn()" color="">voltar</app-custom-button>
</div>