.root {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    min-height: calc(100vh - 64px - 150px);

    @media screen and (max-width: 599px) {
        min-height: calc(100vh - 54px - 150px);
    }
}

.sidenav {
    background-color: var(--primary-color);
    position: fixed;
    z-index: 5;
    top: 64px;
    left: 0;

    @media screen and (max-width: 599px) {
        top: 54px;
    }
}

.resize-nav { // Navbar is fixed, then need add padding for it.
    margin-top: 64px;

    @media screen and (max-width: 599px) {
        margin-top: 54px;
    }
}