<div class="reset-password">
    <section class="reset-password__banner">
        <img class="reset-password__img" src="./assets/img/reset_password_bg.svg" alt="Imagem de fundo da tela de alterar senha">
    </section>
    <section class="reset-password__form-box">
        <img class="reset-password__logo" src="./assets/img/logo.svg" alt="Logo LibroVault">
        <app-reset-password-form (formSubmit)="submit($event)"></app-reset-password-form>
        <div class="reset-password__options">
            <span class="reset-password__options-text" routerLink="/login" >Voltar para o login.</span>
        </div>
    </section>
</div>
