@import "../../../scss/main.scss";

.reset-password {
    background-color: var(--primary-color);
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

    @include respond(small) {
        grid-template-columns: 1fr;
    }

    &__banner {
        background-color: var(--bg-color);
        position: relative;
        overflow: hidden;

        @include respond(small) {
            display: none;
        }
    }

    &__logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 400px;
    }

    &__img {
        width: 700px;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__form-box {
        padding: 2rem;
        align-self: center;
    }    

    &__options {
        max-width: 570px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 19px;
    }

    &__options-text {
        cursor: pointer;
        text-decoration: underline;
    }
}