<div class="more-info-form" [formGroup]="moreInfoForm">
    <mat-form-field class="more-info-form__price" appearance="fill">
        <mat-label>Preço</mat-label>
        <span matPrefix>R$ &nbsp;</span>
        <input 
            matInput
            type="text"
            formControlName="preco"
            mask="separator.2"
            thousandSeparator="."
            decimalMarker=","
            [leadZero]="true"
            [dropSpecialCharacters]="true"
        >
    </mat-form-field>
    
    <mat-form-field class="more-info-form__pages" appearance="fill">
        <mat-label>Página</mat-label>
        <input matInput type="number" formControlName="pagina">
    </mat-form-field>
           
    <mat-form-field appearance="fill" class="more-info-form__buy-date">
        <mat-label>Data de compra</mat-label>
        <input matInput [matDatepicker]="buyDatePicker" appMaskDate  formControlName="dataCompra">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="buyDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #buyDatePicker></mat-datepicker>
        <mat-error *ngIf="dataCompra.errors?.['matDatepickerParse']">Insira uma data válida.</mat-error>
    </mat-form-field>

    <mat-checkbox class="more-info-form__read" formControlName="lido">Lido</mat-checkbox>
    
    <mat-form-field appearance="fill" class="more-info-form__read-date">
        <mat-label>Data de leitura</mat-label>
        <input matInput [matDatepicker]="readDatePicker" formControlName="dataLeitura" appMaskDate>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="readDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #readDatePicker></mat-datepicker>
        <mat-error *ngIf="dataLeitura.errors?.['matDatepickerParse']">Insira uma data válida.</mat-error>
    </mat-form-field>
</div>