<form class="change-password-form" [formGroup]="form" (ngSubmit)="submit()">
    <span>Crie uma nova senha para acessar a plataforma.</span>
    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" formControlName="senha" matInput>
        <mat-error *ngIf="senha!.errors?.['required']">Insira sua senha.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Confirmar senha</mat-label>
        <input type="password" formControlName="confirmarSenha" matInput>
        <mat-error *ngIf="confirmarSenha!.errors?.['required']">Confirme sua senha.</mat-error>
    </mat-form-field>
    <app-custom-button type="submit" class="change-password-form__submit" mat-raised-button color="accent">Criar</app-custom-button>
</form>