<form class="change-password-form" [formGroup]="form" (ngSubmit)="submit()">
    <span>Crie uma nova senha para acessar a plataforma.</span>
    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" formControlName="senha" matInput>
        <mat-error *ngIf="senha!.errors?.['required']">Insira sua senha.</mat-error>
        <mat-error *ngIf="senha!.errors?.['minlength']">A senha deve conter, no mínimo, 8 caracteres.</mat-error>
        <mat-error *ngIf="senha!.errors?.['maxlength']">A senha deve conter, no máximo, 30 caracteres.</mat-error>
        <mat-error *ngIf="senha!.errors?.['hasLowerChar']">A senha deve conter, no mínimo, uma letra minúscula.</mat-error>
        <mat-error *ngIf="senha!.errors?.['hasUpperChar']">A senha deve conter, no mínimo, uma letra maiúscula.</mat-error>
        <mat-error *ngIf="senha!.errors?.['hasNumber']">A senha deve conter, no mínimo, um número.</mat-error>
        <mat-error *ngIf="senha!.errors?.['hasSymbol']">Insira, no mínimo, um caractere especial.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Confirmar senha</mat-label>
        <input type="password" formControlName="confirmarSenha" matInput>
        <mat-error *ngIf="confirmarSenha!.errors?.['required']">Confirme sua senha.</mat-error>
        <mat-error *ngIf="confirmarSenha!.errors?.['passwordMismatch']">As senhas são diferentes.</mat-error>
    </mat-form-field>
    <app-custom-button type="submit" class="change-password-form__submit" mat-raised-button color="accent">Criar</app-custom-button>
</form>