<div class="register">
    <section class="register__banner">
        <img class="register__img" src="../../../../assets/img/create_account_bg.svg" alt="Imagem de fundo da tela de registro">
    </section>
    <section class="register__form-box">
        <app-register-form (formSubmit)="submit($event)"></app-register-form>
        <div class="register__options">
            <span class="register__options-text" routerLink="/login" >Voltar para o login.</span>
        </div>
    </section>
</div>
