<ng-template #formPublisher>
    <h2 mat-dialog-title>{{ actions[data.action] }} editora</h2>
    <mat-dialog-content class="mat-typography">
        <form class="publisher-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field appearance="fill">
                <mat-label>Editora</mat-label>
                <input type="text" formControlName="nome" matInput>
                <mat-error *ngIf="nome!.errors?.['required']">Insira o nome da editora.</mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="publisher-form__actions">
        <app-custom-button class="publisher-form__close-btn" mat-dialog-close>Voltar</app-custom-button>
        <app-custom-button 
            class="publisher-form__submit-btn"
            color="primary"
            [isLoading]="isLoading"            
            (click)="submit()">Salvar</app-custom-button>
    </mat-dialog-actions>
</ng-template>

<ng-template #publisherDelete>
    <h2 mat-dialog-title>{{ actions[data.action] }} editora</h2>
    <mat-dialog-content class="mat-typography">
        <p>Tem certeza que deseja remover a editora: {{ data.publisher.nome }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="publisher-form__actions">
        <app-custom-button class="publisher-form__close-btn" mat-dialog-close>Voltar</app-custom-button>
        <app-custom-button 
            class="publisher-form__submit-btn"
            color="primary"
            [isLoading]="isLoading"
            (click)="deletePublisher()">Remover</app-custom-button>
    </mat-dialog-actions>
</ng-template>

<ng-container [ngTemplateOutlet]="data.action != 'DELETE' ? formPublisher : publisherDelete"></ng-container>