<mat-list class="sidebar" role="list">
    <mat-list-item *ngFor="let section of menuContent" role="listitem" class="sidebar__item" [routerLink]="section.route" routerLinkActive="router-link-active">
        <mat-icon mat-list-icon class="sidebar__item-icon" [svgIcon]="section.icon"></mat-icon> 
        <div mat-line>{{ section.name }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let section of menuAssets" role="listitem" class="sidebar__item"  [routerLink]="section.route" routerLinkActive="router-link-active" >
        <mat-icon mat-list-icon class="sidebar__item-icon" [svgIcon]="section.icon"></mat-icon> 
        <div mat-line>{{ section.name }}</div>
    </mat-list-item>
</mat-list>