<ul class="sidebar">
    <li class="sidebar__item"> 
        <mat-icon>home</mat-icon> 
        <span>Home</span>
    </li>
    <li class="sidebar__item"> 
        <mat-icon></mat-icon> 
        <span>Livros</span>
    </li>
    <li class="sidebar__item"> 
        <mat-icon></mat-icon> 
        <span>Mangás</span>
    </li>
    <li class="sidebar__item"> 
        <mat-icon></mat-icon> 
        <span>HQs</span>
    </li>
    <li class="sidebar__item"> 
        <mat-icon></mat-icon> 
        <span>Listas</span>
    </li>
    <li class="sidebar__item"> 
        <mat-icon></mat-icon> 
        <span>Editoras</span>
    </li>
    <li class="sidebar__item"> 
        <mat-icon></mat-icon> 
        <span>Autores</span>
    </li>
    <li class="sidebar__item"> 
        <mat-icon></mat-icon> 
        <span>Gêneros</span>
    </li>
</ul>