<form class="filter" [formGroup]="form">

    <mat-form-field class="filter__search" appearance="fill">
        <mat-label>Pesquisar</mat-label>
        <input matInput type="text" formControlName="obra">
        <button mat-icon-button matSuffix (click)="clearInput('pesquisa')" [attr.aria-label]="'Hide password'">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <app-custom-chip 
        [options]="authorOptions"
        [control]="autor"
        [placeholder]="'Procurar autor'"
        [label]="'Autor'"
        class="filter__author-chip">
    </app-custom-chip>

    <app-custom-select
        [reset]="false"
        [label]="'Ordenar por'"
        [options]="orderOptions"
        [control]="ordem"
        class="filter__order-select">
    </app-custom-select>
    
    <cdk-accordion class="filter__accordion">
        <cdk-accordion-item 
            #accordionItem="cdkAccordionItem"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header'"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body'">
            <div 
                matRipple
                class="filter__accordion-item-header"
                (click)="accordionItem.toggle()"
                [attr.aria-label]="accordionItem.expanded ? 'Esconder filtros' : 'Exibir mais filtros'">                                                     
                <mat-icon class="filter__accordion-expand-icon" color="accent" >{{ accordionItem.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
            </div>
            <div 
                class="filter__accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body'"
                [attr.aria-labelledby]="'accordion-header'">

                <app-custom-chip
                    [options]="publisherOptions"
                    [control]="editora"
                    [placeholder]="'Procurar editora'"
                    [label]="'Editora'"
                    class="filter__publisher-chip">
                </app-custom-chip>
                    
                <app-custom-select 
                    [reset]="false"
                    [multiple]="true"
                    [control]="genero"
                    [label]="'Gêneros'"
                    [options]="genresOptions"
                    class="filter__genre-select">
                </app-custom-select>

                <app-custom-select 
                    [label]="'Volume único'"
                    [options]="yesOrNoOptions"
                    [control]="volumeUnico"
                    class="filter__unique-select">
                </app-custom-select>
                
                <app-custom-select
                    [reset]="false"
                    [multiple]="true"
                    [label]="'Idioma'"
                    [control]="idioma"
                    [options]="languageOptions"
                    class="filter__language-select">
                </app-custom-select>

                <app-custom-range-date-picker
                    class="filter__buy-date"
                    [controlInitial]="dataCompraInicio"
                    [controlfinal]="dataCompraFinal"
                    [label]="'Obras compradas'">
                </app-custom-range-date-picker>

                <app-custom-select 
                    [label]="'Lido'"
                    [options]="yesOrNoOptions"
                    [control]="lido"
                    class="filter__read-select">
                </app-custom-select>

                <app-custom-range-date-picker
                    class="filter__read-date"
                    [controlInitial]="dataLeituraInicio"
                    [controlfinal]="dataLeituraFinal"
                    [label]="'Obras lidas'">
                </app-custom-range-date-picker>
            </div>
        </cdk-accordion-item>
    </cdk-accordion>
</form>