<div class="change-password-email">
    <section class="change-password-email__banner">
        <img class="change-password-email__img" src="./assets/img/change_password_email_bg.svg" alt="Imagem de fundo da tela de Enviar email para alterar senha">
    </section>
    <section class="change-password-email__form-box">
        <img class="change-password-email__logo" src="./assets/img/logo.svg" alt="Logo LibroVault">
        <app-change-password-email-form (formSubmit)="submit($event)"></app-change-password-email-form>
        <div class="change-password-email__options">
            <span class="change-password-email__options-text" routerLink="/login" >Voltar para o login.</span>
        </div>
    </section>
</div>
