.change-password-email {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__banner {
        background-color: var(--bg-color);
        display: grid;
        align-items: center;
        justify-items: center;

        @media screen and (max-width: 768px) {
            background: none;
            align-self: self-end;
            padding-bottom: 20px;
        }
        
    }

    &__logo {
        max-width: 400px;
        width: 70%;
    }

    &__form-box {
        padding: 2rem;
        align-self: center;

        @media screen and (max-width: 768px) {
            background: none;
            align-self: self-start;
        }
    }    

    &__options {
        max-width: 570px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 19px;
    }

    &__options-text {
        cursor: pointer;
        text-decoration: underline;
    }
}